<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="SAP.UseLoggedUser" value="false" />
		<!-- true: usa App.Company, false: usa estos datos -->
		<add key="SAP.Server" value="hanadb1:30013" />
		<add key="SAP.LicenseServer" value="hanab1:40000" />

		<add key="SAP.DbServerType" value="dst_HANADB" />
		<add key="SAP.CompanyDB" value="SBP_SIOC_CHAR" />
		<add key="SAP.UserName" value="gschneider" />
		<add key="SAP.Password" value="TzLt3#MA" />		
		
		<!--<add key="SAP.UserName" value="desarrollos" />
		<add key="SAP.Password" value="1&amp;ns$YI5" />-->
		
		<!--<add key="SapDb" value="SBODemo_AR" />-->
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>