<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SapServer" value="LOCALHOST"/>
		<add key="SapDb" value="SBODemo_AR"/>
		<add key="SapUser" value="manager"/>
		<add key="SapPass" value="tu_password_seguro"/>
	</appSettings>	
</configuration>