<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- false: crea conexión propia con los datos de abajo -->
    <add key="SAP.UseLoggedUser" value="false" />
    <add key="SAP.Server" value="hanab1:30013" />
    <add key="SAP.LicenseServer" value="hanab1:40000" />
    <add key="SAP.DbServerType" value="dst_HANADB" />
    <add key="SAP.CompanyDB" value="SBP_TEST" />
    <add key="SAP.UserName" value="DESARROLLOS" />
    <add key="SAP.Password" value="PASSWORD" />
    <add key="SAP.DbUserName" value="" />
    <add key="SAP.DbPassword" value="" />
  </appSettings>
</configuration>
